<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>99fbd418-a3d3-4e05-a60b-071898c51c25</id>
  <name>Client</name>
  <order>0</order>
  <icon type="UrlImagePath" source="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxjaXJjbGUgY3g9IjIwIiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxjaXJjbGUgY3g9IjIzIiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxjaXJjbGUgY3g9IjI2IiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxwYXRoIGZpbGw9IiM4ODg4ODgiIGQ9Ik0yOCA0SDRhMi4wMDIgMi4wMDIgMCAwIDAtMiAydjIwYTIuMDAyIDIuMDAyIDAgMCAwIDIgMmgyNGEyLjAwMiAyLjAwMiAwIDAgMCAyLTJWNmEyLjAwMiAyLjAwMiAwIDAgMC0yLTJtMCAydjRINFY2Wk00IDEyaDZ2MTRINFptOCAxNFYxMmgxNnYxNFoiLz48L3N2Zz4=" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="453ef50f-146f-4ded-89d9-bfe9e58f93c1" name="Client Control Settings" module="aryzac.io.Modules.Client" />
    <designerReference id="121396e8-27e3-41d1-af47-ab3ef869cf58" name="Client Settings" module="aryzac.io.Modules.Client" />
    <designerReference id="25d53d97-63f1-48b0-9725-a503e58da08f" name="Layout Settings" module="aryzac.io.Modules.Client" />
    <designerReference id="c73a5458-07ad-4e6a-874a-7abaa3429caa" name="Style Settings" module="aryzac.io.Modules.Client" />
    <designerReference id="a2bffbbd-b781-4075-8846-a56c82bba5ba" name="Typography Settings" module="aryzac.io.Modules.Client" />
  </designerReferences>
  <packageReferences>
    <packageReference packageId="c38aa1fa-e618-4e19-9187-45cd22a9517f" include="Client" isExternal="false">
      <path>Client/Client.pkg.config</path>
    </packageReference>
  </packageReferences>
</config>