<?xml version="1.0" encoding="utf-8"?>
<package id="c38aa1fa-e618-4e19-9187-45cd22a9517f" type="Client" typeId="f96c5215-e609-4066-8e9e-95d86e199e1f">
  <applicationId>76191d7e-3007-4c0f-aab4-33e9724fd307</applicationId>
  <designerId>99fbd418-a3d3-4e05-a60b-071898c51c25</designerId>
  <name>Client</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="f036ca14-09d9-4b02-bc4f-eb1f50ff035e" include="aryzac.io.Modules.Client" isExternal="true">
      <module>aryzac.io.Modules.Client</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>