<?xml version="1.0" encoding="utf-8"?>
<package id="adedb5d8-8210-4103-9e15-96a9bb5fdb49" type="Client" typeId="8a67e242-ece1-4095-91ce-4b1bbd3036b2">
  <applicationId>62c371b4-af5f-42bf-9b88-6751357b25cf</applicationId>
  <designerId>53f80bcf-9efd-4631-a474-07fbe369fd95</designerId>
  <name>Client</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="7966642f-c3c5-47f3-a03b-0b758cc2a981" include="Aryzac.IO.Modules.Client" isExternal="true">
      <module>Aryzac.IO.Modules.Client</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="657e26c5-b761-451b-b0ee-755bc4b419e5" include="Web Client" isExternal="true">
      <path>../../Web Client/Web Client/Web Client.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>