<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
	<createPackages>
		<package id="32ef0618-add8-4580-b57a-36922790debe" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
			<name>root</name>
			<stereotypes />
			<childElements>
				<element id="bd9136ba-c7a3-46c9-b631-1ef250a21f74" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>components</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="ccfdb82b-7166-44cf-bf5d-2fd8823ae09f" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>layout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="804d403b-8540-48d2-8264-b81465615a7d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>layout</display>
						</element>
						<element id="e6abae97-3121-4ce5-b248-5369c12c350e" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Components.Component</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Components.Component</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>components</display>
				</element>
				<element id="64fce8ed-b417-4421-a49d-6a7669e0ab71" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>composables</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="07a9df6a-9ae4-4d28-ae3d-afb39460df06" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseHeadingOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseHeadingOptions</display>
						</element>
						<element id="cc881dca-7417-433b-9dac-2beecefca965" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseSelectOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseSelectOptions</display>
						</element>
						<element id="6c2b3f39-6f2a-4bf8-bee5-a41767fc554c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseTableOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseTableOptions</display>
						</element>
						<element id="63ac2d32-8e6d-40c3-aeab-0f9cfa66f55b" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>composables</display>
				</element>
				<element id="011dbce9-dcd5-45b9-a875-395e974801e1" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>layouts</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="7168e40c-73cc-4173-b35d-636d7d769b75" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>layouts</display>
				</element>
				<element id="dea7598e-5692-4db6-9c79-bd696a450409" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>locales</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="fd04de24-820b-4161-8a8c-b57971acc926" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>components</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="86fcfcee-5f96-4e5b-819d-bd340912e6f3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Component i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Component i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>components</display>
						</element>
						<element id="38cb5d67-f246-4639-be40-ec0a541bdfa4" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>pages</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="2612c12f-8947-42b8-a4f7-b2fd1aee141d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>pages</display>
						</element>
						<element id="e38730be-55b5-4a1b-ad61-ffa386f15c4a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>locales</display>
				</element>
				<element id="9234b3f0-6bba-4bdd-883a-2ea4937e3b9d" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="5dc51eeb-2c05-4cdd-be5e-a5ff5a515aa5" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Pages.Page</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Pages.Page</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>pages</display>
				</element>
				<element id="ea754e6c-a549-4d77-9c6f-86d457cdd1c7" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>services</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="54561d26-1a1b-41e9-92be-1dcd5e6b2993" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>services</display>
				</element>
				<element id="63ef6a91-2359-469b-ace1-a92e637b762f" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>structs</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="48c7d2c9-177b-4892-8920-95d43a7220ef" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>components</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="47380569-9c9c-4b67-a83e-79322055c95e" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.Components.Models</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.Components.Models</display>
								</element>
								<element id="65bcf5b4-939a-4612-b7ec-dff54a889839" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.Components.Props</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.Components.Props</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>components</display>
						</element>
						<element id="10a6a9ce-d372-40a6-b85b-550e2863fc88" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>dto</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="7c04dd11-8ce8-43cd-b0eb-ec47ce5fcac7" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</display>
								</element>
								<element id="71e76d99-e8ff-47f8-835f-c493bc6bdfb5" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>dto</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>structs</display>
				</element>
				<element id="d1a0aea4-dd78-461c-b402-cf1eb2c985cb" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.NuxtConfig</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.NuxtConfig</display>
				</element>
				<element id="c86f55b6-33d8-4256-b193-ea68aa5c07e6" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.package</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.package</display>
				</element>
				<element id="5d0cd2a8-faa6-4542-8154-27aa19d3cee0" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</display>
				</element>
				<element id="7ddc5de1-84e5-473a-9c7a-9ada5b3e4f2d" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
					<name>Default</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Default</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>