<ui-heading-page :title="headingOptions.title.value"></ui-heading-page>

<ui-editor-section
  :title="t('newSection.title')"
  :description="t('newSection.description')"
>
  <ui-input-textbox
    v-model="model.newTextbox"
    :label="t('newSection.newTextbox.label')"
  ></ui-input-textbox>

  <ui-input-text-area
    v-model="model.newTextArea"
    :label="t('newSection.newTextArea.label')"
  ></ui-input-text-area>

  <ui-input-checkbox
    v-model="model.newCheckbox"
    :label="t('newSection.newCheckbox.label')"
    :description="t('newSection.newCheckbox.description')"
  ></ui-input-checkbox>
</ui-editor-section>
