<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="aryzac.io.Modules.Client" version="1.0.0-pre.4" />
  <module moduleId="Intent.Common" version="3.5.0" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Modelers.Domain" version="3.5.0" />
  <module moduleId="Intent.Modelers.Eventing" version="5.0.0" />
  <module moduleId="Intent.Modelers.Services" version="3.5.1-pre.0" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.1.0" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="5.1.0" />
  <module moduleId="Intent.Modelers.WebClient" version="4.0.0" />
</modules>