<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>99fbd418-a3d3-4e05-a60b-071898c51c25</id>
  <name>Client</name>
  <order>0</order>
  <icon type="UrlImagePath" source="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxjaXJjbGUgY3g9IjIwIiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxjaXJjbGUgY3g9IjIzIiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxjaXJjbGUgY3g9IjI2IiBjeT0iOCIgcj0iMSIgZmlsbD0iIzg4ODg4OCIvPjxwYXRoIGZpbGw9IiM4ODg4ODgiIGQ9Ik0yOCA0SDRhMi4wMDIgMi4wMDIgMCAwIDAtMiAydjIwYTIuMDAyIDIuMDAyIDAgMCAwIDIgMmgyNGEyLjAwMiAyLjAwMiAwIDAgMCAyLTJWNmEyLjAwMiAyLjAwMiAwIDAgMC0yLTJtMCAydjRINFY2Wk00IDEyaDZ2MTRINFptOCAxNFYxMmgxNnYxNFoiLz48L3N2Zz4=" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="121396e8-27e3-41d1-af47-ab3ef869cf58" name="Client Settings" module="aryzac.io.Modules.Client" />
  </designerReferences>
  <packageReferences />
</config>