<?xml version="1.0" encoding="utf-8"?>
<config>
  <id>53f80bcf-9efd-4631-a474-07fbe369fd95</id>
  <name>Client</name>
  <order>0</order>
  <icon type="FontAwesome" source="question-circle" />
  <loadStartPage>false</loadStartPage>
  <designerReferences>
    <designerReference id="7ab48245-c552-490e-9cba-4fc88178398a" name="Client Settings" module="Aryzac.IO.Modules.Client" />
  </designerReferences>
  <packageReferences />
</config>