<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
	<createPackages>
		<package id="cff18915-ecd7-4e9d-93de-575eef8ba540" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
			<name>root</name>
			<stereotypes />
			<childElements>
				<element id="9c11f2e3-6f9b-4b8d-83ca-9b14e6bca12e" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>components</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="bf7e9723-f31c-4041-9650-02b82fd265d3" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>layout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="4551ee36-484c-4939-afa8-6bb6a711ca21" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>layout</display>
						</element>
						<element id="82592949-e051-41bc-b3f6-38c7153a57b9" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Components.Component</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Components.Component</display>
						</element>
						<element id="71f8a25d-9ae7-48e6-89d8-975a557ba4b1" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Components.ComponentHtml</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Components.ComponentHtml</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>components</display>
				</element>
				<element id="4ddda785-f440-4af4-a5b9-78292340558a" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>composables</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="67f67de4-f6db-4873-89c3-6c4c59540715" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseHeadingOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseHeadingOptions</display>
						</element>
						<element id="41de4a80-8c01-404c-a0f9-71508e4be22d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseLabelOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseLabelOptions</display>
						</element>
						<element id="8c709579-e41a-4e42-b069-b84eb4fb3023" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseSelectOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseSelectOptions</display>
						</element>
						<element id="cc79da58-9e8c-42e3-89ac-f6af5c2299b4" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseTableOptions</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.Controls.UseTableOptions</display>
						</element>
						<element id="e67ca877-d5c1-4b9c-bc2a-55bf420be546" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>composables</display>
				</element>
				<element id="96bbeed2-11a8-4f41-bf66-ff2a58b82659" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>layouts</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="f7c5066d-8db6-4a87-8abb-cd08b74e1721" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>layouts</display>
				</element>
				<element id="5ca9d1dd-a3b9-4ff5-acf6-3643fa7fa862" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>locales</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="e6c626fa-a6f9-4937-a23a-2fcf2eae8321" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>components</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="1281b812-a49f-4c4c-953d-90af390816dd" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Component i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Component i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>components</display>
						</element>
						<element id="f13add90-cd1f-4152-a72d-6946d391b124" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>pages</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="8f842220-3da3-4f7c-a066-d807f6fcc941" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>pages</display>
						</element>
						<element id="9784f979-137c-4b3b-ad33-5f24a83324a3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>locales</display>
				</element>
				<element id="7d1277b1-a53f-400f-b79d-4751c0f714c5" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="566a617e-2ed1-4a87-a644-9cbfb48bc34c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Pages.Page</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Pages.Page</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>pages</display>
				</element>
				<element id="d3627b1e-a112-4f9a-b0d1-1e29d0c05de9" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>services</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="915ff5a8-14af-4262-b7eb-e4020dc4588d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>services</display>
				</element>
				<element id="b7a5a752-c00e-4e0b-ab1f-7df186bced20" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>structs</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="b0dce684-14e8-492b-a546-8f4b6a08d3cf" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>components</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="41db7ab0-396b-4948-a64d-1a58a70adfde" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.Components.Models</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.Components.Models</display>
								</element>
								<element id="1632b5dc-f6fc-4c81-9cab-6cfa69298b92" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.Components.Props</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.Components.Props</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>components</display>
						</element>
						<element id="388cfc47-3cdf-47c6-a5ff-629cde7071cc" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>dto</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="af0c5d90-5ecf-4896-87b6-d1cfa11acc1c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>dto</display>
						</element>
						<element id="6e2a4ee8-d943-4a3a-a1ae-39997fd63cf4" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>structs</display>
				</element>
				<element id="2138758b-0dfe-482c-8983-894c963c8206" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.NuxtConfig</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.NuxtConfig</display>
				</element>
				<element id="12ff8bdc-22b7-4775-8b06-345e2d3b505d" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.package</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.package</display>
				</element>
				<element id="d928adf7-f1b4-4bcd-a3c0-dc354df92fa4" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</display>
				</element>
				<element id="611f77dc-10d3-489b-b482-c60c652c9a12" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
					<name>Default</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Default</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>