<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
	<createPackages>
		<package id="cff18915-ecd7-4e9d-93de-575eef8ba540" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
			<name>root</name>
			<stereotypes />
			<childElements>
				<element id="9c11f2e3-6f9b-4b8d-83ca-9b14e6bca12e" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>components</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="bf7e9723-f31c-4041-9650-02b82fd265d3" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>layout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="25208d27-b4e2-49ca-8ac7-b0f5b7dbadab" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Layout.Components</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>layout</display>
						</element>
						<element id="1ee243f0-da20-45b6-aa23-3098c138bd5a" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Components.Component</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Components.Component</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>components</display>
				</element>
				<element id="4ddda785-f440-4af4-a5b9-78292340558a" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>composables</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="56af200e-feed-4307-bf5a-4ddb671d4937" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Composables.UseServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>composables</display>
				</element>
				<element id="96bbeed2-11a8-4f41-bf66-ff2a58b82659" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>layouts</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="52e723df-803e-411c-8c94-3f2641f8eab6" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>layouts</display>
				</element>
				<element id="5ca9d1dd-a3b9-4ff5-acf6-3643fa7fa862" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>locales</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="e6c626fa-a6f9-4937-a23a-2fcf2eae8321" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>components</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="f10ea2a7-8548-4946-b131-a254190618bc" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Components.Component i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Components.Component i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>components</display>
						</element>
						<element id="f13add90-cd1f-4152-a72d-6946d391b124" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>pages</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="03880e9e-8f45-4347-b940-364ff144fcb4" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Pages.Page i18n</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>pages</display>
						</element>
						<element id="ffb76dbf-e7f3-44f4-93f5-abce7fa1f8c5" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Layouts.Layout i18n</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>locales</display>
				</element>
				<element id="7d1277b1-a53f-400f-b79d-4751c0f714c5" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="7ef4fa51-ceb6-44c9-bff9-89ac8f177e2c" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Pages.Page</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Pages.Page</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>pages</display>
				</element>
				<element id="d3627b1e-a112-4f9a-b0d1-1e29d0c05de9" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>services</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="414f2921-7515-4d47-86b3-ecf9a3774b80" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Services.ServiceProxy</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>services</display>
				</element>
				<element id="b7a5a752-c00e-4e0b-ab1f-7df186bced20" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>structs</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="388cfc47-3cdf-47c6-a5ff-629cde7071cc" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
							<name>dto</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="311abb0c-1bd2-42c9-83a4-1261575b65d3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
									<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</name>
									<genericTypes />
									<metadata>
										<entry key="status" value="assigned" />
									</metadata>
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.DTO</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>dto</display>
						</element>
						<element id="c8880206-5091-4970-acd2-70c845f49ce3" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
							<name>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</name>
							<genericTypes />
							<metadata>
								<entry key="status" value="assigned" />
							</metadata>
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Aryzac.IO.Modules.Client.Files.Structs.DTOs.JsonResponse</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>structs</display>
				</element>
				<element id="8eec2398-fe61-4b53-8342-9163efe558cc" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.NuxtConfig</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.NuxtConfig</display>
				</element>
				<element id="f66d6d3c-613c-4be0-8f2e-8488833cebcd" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Files.package</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Files.package</display>
				</element>
				<element id="b10544ed-c288-45c0-982e-edd28dbff967" typeId="09de2192-2507-41a2-8044-286c7ecadec2" type="Template Output">
					<name>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</name>
					<genericTypes />
					<metadata>
						<entry key="status" value="assigned" />
					</metadata>
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Aryzac.IO.Modules.Client.Templates.Files.StaticContentTemplateRegistrations.StaticContentTemplateRegistration</display>
				</element>
				<element id="611f77dc-10d3-489b-b482-c60c652c9a12" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
					<name>Default</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Default</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>